*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.tamanhocarusel{
    width: 700px;
}
.carousel_slide{
    width: 700px;
}

.carousel-item{
    width: 500px;

}

.instagram{
    width: 75px;
}

.cajafooter{
    display: flex;
}

body{
    background-color: grey;
}

.colormain{
    background-color: grey;
}
.footertamanho{
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.search{
    width: 550px;
}
.imgart1{
    width:355px;
    margin: 20px;

}

.cajaremerasvoal{
    display: grid;
    grid-template-rows: 350px 350px;
    grid-template-columns: 350px 350px 350px;
    margin: 20px;
    width: auto;

}
.imgart1:hover{
    transform:scale(1,1)

}
.colormain1{
    background-color: grey;
}

@media only screen and (max-width: 768px) {
    .colormain1{
        width: auto;
    }
    .artgorra{
        width: 200px;
    }
    .gorrasvoalimg1{
        width: 200px;
    }
    .cajaremerasvoal{
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-img-top{
        width: 200px;
    }
	.footertamanho {
        display: grid;
            grid-template-columns: 1fr;
      }
      .search{
        width: auto;
      }
      .tamanhocarusel{
        width: auto;
    }


